@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundColor:nth-child(1) {
  background-color: #f2fce4;
}
.backgroundColor:nth-child(2) {
  background-color: #f2fce4;
}
.backgroundColor:nth-child(3) {
  background-color: #ecffec;
}
.backgroundColor:nth-child(4) {
  background-color: #feefea;
}
.backgroundColor:nth-child(5) {
  background-color: #fff3eb;
}
.backgroundColor:nth-child(6) {
  background-color: #fff3ff;
}
.backgroundColor:nth-child(7) {
  background-color: #f2fce4;
}
.backgroundColor:nth-child(8) {
  background-color: #feefea;
}
.backgroundColor:nth-child(9) {
  background-color: #f2fce4;
}
.backgroundColor:nth-child(10) {
  background-color: #feefea;
}
.backgroundColor:nth-child(11) {
  background-color: #feefea;
}
