.buttonNext,
.buttonPrev {
  width: 50px !important;
  height: 50px !important;
  background-color: #dfdddd;
  border-radius: 50%;
  --swiper-navigation-size: 16px !important;

  color: #7e7e7e !important;
}
.buttonNext:hover,
.buttonPrev:hover {
  width: 50px !important;
  height: 50px !important;
  background-color: #3bb77e;
  border-radius: 50%;
  color: white !important;
}
.pagination > span {
  background-color: #3bb77e !important;
  width: 15px !important;
  height: 15px !important;
  border: 1px solid black !important;
}
